.wrap {
    font-family: Montserrat;
    font-weight: 600;
    max-width: 950px;
    margin: auto;
}

h1 {
    font-size: 36px;
    color: #4E5150;
}

.shopping {
    width: 90%;
    min-width: 380px;
    height: 535px;
    background-color: #F2F2F2;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 30px;
}

.information {
    width: 100%;
    margin: auto;
    margin-right: 35px;
}

@media screen and (min-width: 900px) {
    .shopping {
        float: right;
        max-width: 380px;
    }

    .information {
        float: left;
        max-width: 465px;
    }

    .photo {
        margin: 0px !important;
    }

    .items {
        width: 400px !important;
    }
}

.items {
    width: 90%;
}

.item {
    clear: left;
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 16px;

}

.photo {
    clear: left;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    width: 135px;
    border-radius: 13px;
}

.detail {
    float: left;
    margin-left: 20px;
}

.item-name {
    margin: 0px;
    margin-bottom: 10px;
}

.dollar {
    float: left;
    color: #F2994A;
    margin: 0px;
}

.money {
    float: left;
    color: #F2994A;
    margin: 0px;
    margin-right: 10px;
}

.discount {
    float: left;
    margin: 0px;
    font-size: 12px;
    text-decoration-line: line-through;
}

.count {
    clear: left;
    float: left;
    margin-top: 30px;
    border: 1px solid #828282;
    border-radius: 12px;
    padding: 15px;
}

button {
    float: left;
    width: 21px;
    height: 21px;
    border: 0px;
    border-radius: 4px;
    background-color: #E0E0E0;
    color: #828282;
    text-align: center;
    font-size: 4px;
    font-weight: 900;
}

.input {
    float: left;
    width: 50px;
    text-align: center;
    margin: 0px;
    margin-top: 3px;
}

.total-calc {
    clear: left;
    float: left;
    width: 90%;
    margin-top: 90px;
    margin-left: 5%;
    margin-right: 5%;
}

.total-calc p {
    float: left;
    color: #333333;
    margin: 0px;
}

.total-calc .dollar {
    float: right;
}

.total-calc .money {
    float: right;
}

.total-calc .total {
    float: right;
}

hr {
    float: left;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #BDBDBD;
}

label {
    font-size: 18px;
    color:#333333;
}

.input-label {
    clear: left;
    width: 100px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 12px;
    color: #4F4F4F;
}

.material-icons {
    float: left;
    margin: 0px;
}

.input-item {
    position: relative;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 0px;
}

.input-item::before {
    font-family: Material Icons;
    filter: invert(55%) sepia(0%) saturate(1289%) hue-rotate(202deg) brightness(94%) contrast(86%);
    content: "";
    position: absolute;
    width: 20px;
    font-size: 20px;
    margin: 0px;
    margin-top: 19px;
    margin-left: 14px;
}

.input-holder {
    padding: 3px 0 3px 2.5em;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    height: 56px;
    width: 100%;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 12px;
}

#email::before {
    content: "email";
}

#phone::before {
    content: "phone";
}

.shipping {
    float: left;
    margin-top: 60px;
    margin-bottom: 15px;
}

#account_circle::before {
    content: "account_circle";
}

#home::before {
    content: "home";
}

#location_city::before {
    content: "location_city";
}

#public::before {
    content: "public";
}

#work::before {
    content: "work";
}

.input-half {
    float: left;
    padding: 3px 0 3px 2.5em;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    color: #828282;
    height: 56px;
    width: 100%;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 12px;
}

.half {
    float: left;
    width: 47.5%;
    margin-right: 5%;
}

#half {
    margin-right: 0px;
}

.clear {
    clear: left;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.save {
    float: left;
    font-size: 12px;
    color: #4F4F4F;
}

.checkbox {
    float: left;
    border: 1px solid #828282;
    width: 21px;
    height: 21px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0px;
    margin-right: 11px;
}

.text {
    float: left;
    margin: 0px;
    margin-top: 3px;
}

.continue {
    clear: left;
    float: right;
    width: 166px;
    height: 54px;
    background-color: #F2994A;
    border-radius: 12px;
    font-family: Montserrat;
    font-size: 16px;
    color: white;
}